name: Test

on: [push]

jobs:
  SayHello:
    runs-on: ubuntu-latest
    steps:
      - run: "echo 'Running tests for ${{ github.repository }}'"
      - run: "echo 'Repo: ${{ github.repository }}'"
      - run: "echo 'Branch: ${{ github.ref }}'"

  code-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: look for syntax errors
        run: pixi run ruff check

  unit-tests:
    runs-on: ubuntu-latest
    needs: code-checks
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.39.5

      - name: Run unit tests
        run: pixi run pytest

      - name: Run tests with coverage
        run: pixi run coverage

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml